<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 <log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
		  <param name="ConversionPattern" value="%-5p %c{1}:%L - %m%n"/> 
		</layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="File" value="./logs/fastflow.log" />
		<param name="ImmediateFlush" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%t]:%d:%c:%p:%m%n" />
		</layout>
	</appender>
		
	<category name="org.exprint" additivity="false">
		<priority value="debug"/>
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</category>
	 
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
</log4j:configuration>